body{
    background-image: url(https://images.unsplash.com/photo-1490034439021-6fb6e223cbca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42092317342fb0c38f96bad3dba7cee6&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    color: white;
    text-align: center;
}