body {
    background: url("../img/685e18ff8147427079a14ce27d984688.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#bubble-plot {
    background-color: transparent;
}

/* Make ytitles clickable */
.ytitle {
    pointer-events: all;
}

/* .slider-grip-rect {
    animation: myframes;
}

@keyframes myframes {
    from {}
    to {}
} */