html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  line-height: 18px;
  color: white;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}