html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: black;
    font-family: "Montserrat", sans-serif;
    color: white;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}
#particles-js {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#intro {
    position: absolute;
    left: 0;
    top: 40%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    color: #FFC300;
}
h1 {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.015em;
}
.navbar {
    background-color: black
}
.navbar-header a:link {
    font-family: "Montserrat", sans-serif;
    color: #FFC300;
    background-color: black
}
.navbar-header a:hover {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: black
}
.navbar-header a:active {
<<<<<<< HEAD
    font-family: "Montserrat", sans-serif;
    color: white0;
    background-color: black
=======
font-family: "Montserrat", sans-serif;
    color: white;
    background-color: black;
>>>>>>> 5e637ca34b28601ae061ef97d0963991df9f4430
}
.navbar-nav li a:link {
    font-family: "Montserrat", sans-serif;
    color: #FFC300;
    background-color: black
}
.navbar-nav li a:hover {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: black
}
.navbar-nav li a:active {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: black;
}