<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv= "X-UA-Compatible" content="ie=edge">
    <title>Honey Production</title>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="styles.css">

  </head>
  <body>
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', 'particles.json', function(){
            console.log('particles.json loaded...')
        });
    </script>

  </body>
</html>